Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
firebase-admin==6.5.0
PyPDF2==3.0.1
python-docx==1.1.2
python-dotenv==1.0.1
spacy==3.8.11
gunicorn==22.0.0
mock-firestore==0.11.0
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl